/* Main page Style */
body {
  font-family: Raleway;
}

.main-img {
  width: 100%;
}
.main-p {
  color: #242424;
  text-align: left;
  letter-spacing: 0.96px;
  font-family: Raleway;
  font-weight: bold;
  width: 100%;
  padding-top: 10%;
}

.main-searchinput {
  display: flex;
  padding-left: 3em;
}

.main-searchinput .ant-input {
  box-shadow: 0px 7px 10px #00000014;
  height: 50px;
}

.main-searchinput .ant-input-search-button {
  height: 50px;
}

.main-searchinput .ant-select-show-arrow .ant-select-selector {
  height: 50px;
  box-shadow: 0px 7px 10px #00000014;
}

.main-searchinput .ant-select-selection-item {
  margin-top: 8px;
}
/* class="ant-col ant-col-xs-24 ant-col-sm-12 ant-col-md-8 " */
.topRate__container .ant-col-lg-6 {
  padding-bottom: 3em;
}
/* .topRate__course-card {
  box-shadow: 1px 1px 28px 5px #00000014;
  /* background: 0% 0% no-repeat padding-box; 
  height: 300px;
  /* border: 5px solid #61aba2; 
  /* border-radius: 20px; 
} */

.topRate__course-card__image:hover {
  transform: scale(1.1);
  box-shadow: 1px 1px 28px 5px #a9a9a9;
}

.topRate__course-card__image {
  cursor: pointer;
  border-radius: 15px 15px 0 0;
  outline: none;
  box-shadow: 1px 1px 28px 5px #00000014;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  padding-top: 70%;
}
.topRate__course-card__contant {
  padding-top: 17px;
}
.topRate__course-card h2 {
  width: 150px;
  /* letter-spacing: 2px; */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  font: Bold 20px Raleway;
}
.topRate__course-card__contant {
  text-align: left;
}
.topRate__course-card__contant__span .ant-rate {
  font-size: 15px;
}

.topRate__course-card__contant__span .anticon-star {
  width: 15px;
}

.ant-pagination {
  margin-top: 17px;
}

/* Media query of main page */

@media screen and (min-width: 768px) {
  .main-p {
    font-size: 3.5vw;
  }
}

@media screen and (max-width: 1024px) {
  .main-searchinput {
    padding-left: 0em;
  }

  .main-searchinput .ant-input-group-wrapper .ant-input-group .ant-input {
    width: 16em;
  }
}
@media screen and (max-width: 768px) {
  .main-p {
    font-size: 5vw;
  }

  .main-searchinput .ant-input-group-wrapper .ant-input-group .ant-input {
    width: 12em;
    margin-left: 0.1em;
  }

  .main-searchinput {
    padding-left: 0;
  }

  .main-searchinput .ant-select-show-arrow .ant-input-group-wrapper {
    width: 63%;
    padding-left: 1em;
  }

  .main-searchinput .ant-select-show-arrow {
    width: 124px;
  }

  .main-searchinput .ant-input {
    margin-left: -18px;
  }

  .main-searchinput .ant-select-arrow {
    margin-right: 12px;
  }
  .main-searchinput .ant-select .ant-select-show-arrow {
    width: 50%;
  }
}

@media screen and (max-width: 420px) {
  .main-searchinput .ant-input-group-wrapper .ant-input-group {
    padding-left: 1em;
    width: 13rem;
  }
}

/* Style of top rate container */
.topRate__container {
  padding: 5%;
}
