/* Main page Style */
body {
  font-family: Raleway;
}

.main-p {
  font-size: 55px;
  color: #242424;
  text-align: left;
  letter-spacing: 0.96px;
  font-family: Raleway;
  font-weight: bold;
  padding: 2em 2em 1em 1em;
}

.main-searchinput {
  display: flex;
  padding-left: 3em;
}

.main-searchinput .ant-input {
  height: 50px;
  border-radius: 55px;
}

.main-searchinput .ant-input-search-button {
  height: 50px;
  border-radius: 50px;
}

/*.menu {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
.menu .ant-dropdown-trigger {
  width: 200px;
  font-size: 1rem;
  font-weight: bold;
  font-family: Raleway;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-right: 10px;
  height: 47px;
  border-radius: 80px;
  outline: none !important;
}*/

.main-searchinput .ant-select-show-arrow .ant-select-selector {
  height: 50px;
  box-shadow: 0px 5px 10px #00000014;
  border-radius: 50px;
}

.main-searchinput .ant-select-selection-item {
  margin-top: 8px;
}
/* class="ant-col ant-col-xs-24 ant-col-sm-12 ant-col-md-8 " */
.topRate__container .ant-col-lg-6 {
  padding-bottom: 3em;
}
/* .topRate__course-card {
  box-shadow: 1px 1px 28px 5px #00000014;
  /* background: 0% 0% no-repeat padding-box; 
  height: 300px;
  /* border: 5px solid #61aba2; 
  /* border-radius: 20px; 
} */
.topRate__course-card:hover {
  /* transform: scale(1.1);
  box-shadow: 1px 1px 28px 5px #a9a9a9; */
}
.topRate__course-card__image:hover {
  transform: scale(1.1);
  box-shadow: 1px 1px 28px 5px #a9a9a9;
}
.topRate__course-card__image {
  cursor: pointer;
  border-radius: 15px;
  /* border: 3px solid #426964; */
  outline: none;

  box-shadow: 1px 1px 28px 5px #00000014;
}
.topRate__course-card__contant {
  margin: 9px;
}
.topRate__course-card h2 {
  width: 150px;
  /* letter-spacing: 2px; */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  font: Bold 20px Raleway;
}
.topRate__course-card__contant {
  text-align: left;
}
.topRate__course-card__contant__span .ant-rate {
  font-size: 15px;
}

.topRate__course-card__contant__span .anticon-star {
  width: 15px;
}

/* Media query of main page */

@media screen and (max-width: 1024px) {
  .main-p {
    font-size: 35px;
    padding: 1em 1em 0em 2em;
    width: 90%;
  }
  .main-searchinput {
    padding-left: 4em;
  }
}
@media screen and (max-width: 768px) {
  .main-p {
    font-size: 26px;
    padding: 1em 0em 0em 0em;
  }

  .main-searchinput {
    padding-left: 0;
  }

  .main-searchinput .ant-select-show-arrow .ant-input-group-wrapper {
    width: 63%;
    padding-left: 1em;
  }

  .main-searchinput .ant-select-show-arrow {
    width: 124px;
  }

  .main-searchinput .ant-input {
    margin-left: -18px;
  }

  .main-searchinput .ant-select-arrow {
    margin-right: 12px;
  }
  .main-searchinput .ant-select .ant-select-show-arrow {
    width: 50%;
  }
}

@media screen and (max-width: 420px) {
  .main-searchinput .ant-input-group-wrapper .ant-input-group {
    padding-left: 1em;
    width: 13rem;
  }
}

/* Style of top rate container */
.topRate__container {
  padding: 10%;
}
/*
.topRate__container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  justify-content: center;
  align-items: center;
  column-gap: 20px;
  row-gap: 20px;
  margin: 50px auto;
  width: 80%;
}
.topRate__course-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.topRate__course-card__image {
  width: 200px;
}
.topRate__course-card button {
  width: 100px;
}
.pagination {
  width: 70%;
  margin-top: 30px;
  margin-left: 340px;
}
.container-img-i {
  width: 100%;
}
*/
