@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap');

.favorite-page {
  box-sizing: border-box;
  font-family: 'Raleway';
  margin-top: 7px;
}

.favorite-course {
  width: 85%;
  margin-left: 50px;
  margin-top: 15px;
  flex-wrap: nowrap;
}

.favorite-course img {
  width: 100%;
  border: 1px solid #000;
  border-radius: 6px;
  min-height: 190px;
}

.favorite-course-details {
  position: relative;
  text-align: left;
  padding-top: 0.25em;
  padding-left: 2%;
  width: 100%;
}

.favorite-course-details .favorite-bookmark {
  position: absolute;
  top: 10px;
  right: 15px;
  color: black;
}

.favorite-course-details {
  font-family: 'Raleway';
  color: black;
}

.favorite-course-details .favorite-title {
  font-weight: bold;
  font-size: 19px;
  margin-bottom: 3px;
}

.favorite-course-details .favorite-author {
  font-weight: 600;
  line-height: 29px;
}

.favorite-course-details .favorite-description {
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
}

.line-div {
  width: 77%;
  height: 1px;
  border-top: 1px solid #000;
  opacity: 0.1;
  margin: 15px 0 0 50px;
}

.favorite-courses-container .favorite-course:last-child {
  margin-bottom: 50px;
}

.favorite-courses-container .line-div:last-child {
  display: none;
}

.favorite-menu {
  height: 600px;
  box-shadow: 0px 0px 17px #afafaf80;
  padding-top: 15px;
  margin-top: 30px;
  z-index: 1;
  border-radius: 0 8px 0 0;
}

.favorite-page button {
  margin-bottom: 10px;
  background-color: #61aba2;
  border-radius: 5px;
  border: 0;
  font-size: 17px;
}

.favorite-page button:hover {
  background-color: #61aba2;
  color: #0b4942;
}

.favorite-page button:active {
  background-color: #61aba2;
}

.favorite-page button:focus {
  background-color: #61aba2;
}

.favorite-menu
  .ant-tree
  .ant-tree-list
  > div
  .ant-tree-list-holder-inner
  .ant-tree-treenode {
  text-align: left;
  background-color: white;
}

.favorite-menu
  .ant-tree.ant-tree-directory
  .ant-tree-treenode
  .ant-tree-node-content-wrapper.ant-tree-node-selected {
  background-color: #61aba2;
}

.favorite-menu
  .ant-tree.ant-tree-directory
  .ant-tree-treenode-selected
  .ant-tree-switcher {
  background-color: #61aba2;
}

.favorite-menu
  .ant-tree.ant-tree-directory
  .ant-tree-treenode-selected
  .ant-tree-switcher {
  background-color: #61aba2;
}

.favorite-content {
  padding-top: 15px;
}

.folder-details-name {
  text-align: left;
}

.favorite-folder-details {
  padding: 0 50px;
}

.folder-details-action {
  text-align: right;
}

.folder-details-action button {
  margin-left: 10px;
  height: 40px;
}

.folder-details-action button:last-child {
  background-color: white;
  border: 1px solid #61aba2;
}

.folder-details-action button:last-child:hover {
  color: #e8505b;
}

.favorite-bookmark button {
  background-color: white;
  height: 20px;
  width: 40px;
  z-index: 5;
}

.favorite-bookmark button:hover,
.favorite-bookmark button:focus,
.favorite-bookmark button:active {
  background-color: white;
}

@media screen and (max-width: 991px) {
  .favorite-menu {
    height: auto;
  }
  .favorite-menu-btn {
    text-align: right;
    padding-right: 30px;
  }
  .favorite-menu-title {
    text-align: left;
    padding-left: 30px;
  }
}
