.header {
  display: flex;
  width: 100%;
  margin: auto;
  top: 0px;
  left: 0px;
  height: 60px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 5px 10px #00000014;
  border-radius: 0px 0px 8px 8px;
  opacity: 1;
}
.header-container {
  display: flex;
  margin: auto;
  justify-content: space-between;
  width: 80%;
  align-items: center;
}

.header-left {
  display: flex;
}
.header__list ul {
  list-style-type: none;
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
}
.header__list li {
  margin-right: 20px;
  color: black;
}
.header-right {
  display: flex;
  /* border: 2px solid #287b72; */
  color: #ffede3;
}

.home__list {
  color: black;
}

.header_right__button {
  color: #61aba2;
  border: none;
  outline: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}
.active,
.ant-btn-icon-only,
.ant-btn-default {
  color: #61aba2;
}
.ant-btn-default:hover {
  color: antiquewhite;
}
.header__list__button:hover,
.header-right button:hover {
  background-color: #61aba2;
  color: antiquewhite;
}
.header__list__button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}
